{% extends "base.html" %}

{% block title %}A Compliment{% endblock %}

{% block content %}

  Hi {{ person }}! I think you're {{ compliment }}!

  <form action="/game">

    <fieldset>

      <legend>Would you like to play a game?</legend>

      <div>

        <input type="radio" name="answer" value="yes" id="yes">
        <label for="yes">Yes</label>

      </div>

      <div>

        <input type="radio" name="answer" value="no" id="no">
        <label for="no">No</label>

      </div>

    </fieldset>

    <input type="submit">

  </form>
  
{% endblock %}
